* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
  text-transform: capitalize;
}

.chat {
  width: 100%;
  background-color: #eee;
  height: 100vh;
  display: flex;
}

.chat .chat-sidebar {
  width: 30%;
  background-color: #222;
}

.side-bar-template {
  width: 100%;
}

.side-bar .room-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666;
  height: 80px;
}
.room-title p {
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.side-bar .users-title {
  color: white;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 500;
  margin-left: 30px;
}

.side-bar .users {
  margin-top: 20px;
  margin-left: 30px;
  list-style: none;
  color: white;
}

.chat .chat-main {
  width: 100%;

  display: flex;
  flex-direction: column;
  border: 1px solid #bbb;
  margin: 5px;
  border-radius: 2px;
}

.chat-main .chat-messages {
  height: 90%;
  overflow: scroll;
  padding: 20px;
}

.chat-main .compose {
  height: 10%;
  flex-grow: 1;
  display: flex;
  margin: 10px;
  margin-bottom: 5px;
  gap: 10px;
  align-items: center;
  height: fit-content;
}

.compose input {
  flex-grow: 9;
  padding: 10px;
}

.compose button {
  padding: 10px;
  flex-grow: 0.5;
  border: none;
  background-color: #7b2cbf;
  color: white;
  cursor: pointer;
}

.message-container {
  margin-bottom: 20px;
}

.message-container .user-name {
  font-weight: 600;
  margin-right: 5px;
}

.message-container .created-at {
  color: #aaa;
  font-size: 18px;
}

.message-container .message,
.location-link {
  margin: 5px 0px;
  font-size: 18px;
}
